.container-xxl{
    display: flex;
    justify-items: center;
    align-items: center;
    flex-direction: column;
}
.range-outputs-container{
    display: flex;
    justify-items: center;
    align-items: center;
}

.range-outputs{
    width: 110px;
    height: 20px;
    border-radius: 15px;
    border: 2px solid black;
    justify-content: center;
    align-content: center;
    margin: 5px;
    padding: 5px;
}

.custom-range-label{
    margin: 0 10px 0 0;
    text-align: center;
}
.buttons-map{
    display: flex;
}
.button-map-page{
    margin: 10px;
    max-width: 100px;
}