.mainContainer{
    margin: auto;
    width: 50%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.input{
    border-radius:20px;
    margin: 10px;
    padding:10px;
}

.alert{
    position: absolute;
}

.pointB{
    right: 48%;
}

.title{
    font-size: 30px;
    font-weight: bold;
    padding: 20px 0 20px 0;
}

.button {
    background-color:#1EDE00;
    border-radius:28px;
    border:1px solid #18ab29;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-size:15px;
    width: 193px;
    font-weight:bold;
    padding:10px 31px;
    text-decoration:none;
    text-shadow:0 1px 0 #2f6627;
}
.button:hover {
    background-color:#40821d;
}
.button:active {
    position:relative;
    top:1px;
}